.App {
  min-height: 100vh;
  display: grid;
  gap: 16px;
}

.iframe-wrapper {
  position: relative;
}

.iframe-wrapper:before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}

.iframe-wrapper > iframe,
.offline-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offline-wrapper {
  position: relative;
  background-color: rgb(19, 19, 21);
  padding-bottom: calc(100% / (16 / 9));
}

.offline-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
}

.controldeck-wrapper {
  display: grid;
  background-color: rgb(44, 61, 87);
}

.controldeck-wrapper > button {
  cursor: pointer;
  background-color: rgb(118, 137, 166);
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-weight: 500;
}

.controldeck-wrapper > button:hover {
  opacity: 0.9;
}

@media (min-width: 601px) {
  .App {
    grid-template-columns: 1fr 200px;
  }
}
@media (max-width: 600px) {
  .App {
    grid-template-rows: 1fr 1fr;
  }
}
