.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(19, 19, 21);
}

.iframe-wrapper {
  position: relative;
}

.iframe-wrapper:before {
  content: "";
  display: block;
  padding-bottom: calc(100% / (16 / 9));
}

.iframe-wrapper > iframe,
.offline-frame {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.offline-wrapper {
  position: relative;
  background-color: rgb(19, 19, 21);
  padding-bottom: calc(100% / (16 / 9));
}

.offline-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-size: 24px;
}
